In [8]:
import streamlit as st
import psycopg2
from dotenv import load_dotenv
import os
load_dotenv()

conn = psycopg2.connect(host=os.environ['HOST'],database=os.environ['DATABASE'],user=os.environ['USER'],password=os.environ['PASSWORD'])
with conn:
    with conn.cursor() as cursor:
        sql = '''
        SELECT * FROM 市場
        '''
        cursor.execute(sql)
        all_country = cursor.fetchall()
conn.close()

input_dict = dict(all_country)
input_dict.items()
input_dict.keys()
input_dict.values()

dict_values(['香港恒生', '台灣'])

In [13]:
import streamlit as st
import psycopg2
from dotenv import load_dotenv
import os
import pandas as pd
load_dotenv()

def getData(country:tuple[str])->list[tuple]:
    conn = psycopg2.connect(host=os.environ['HOST'],
                            database=os.environ['DATABASE'],
                            user=os.environ['USER'],
                            password=os.environ['PASSWORD'])
    with conn:
        with conn.cursor() as cursor:
            sql = '''
            SELECT country,市場.name,date,adj_close,volume
            FROM 股市 JOIN 市場 ON 股市.name = 市場.name
            WHERE country IN %s;
            '''
            cursor.execute(sql,(country,))
            all_data = cursor.fetchall()
    conn.close()
    return all_data
df = pd.DataFrame(getData(('台灣','香港恒生')),columns=['國家','代號','日期','收盤價','成交量'])
df['收盤價'] = df['收盤價'].astype('float').round(decimals=2)
df

         國家     代號          日期       收盤價      成交量
0      香港恒生   ^HSI  1986-12-31   2568.30        0
1      香港恒生   ^HSI  1987-01-02   2540.10        0
2      香港恒生   ^HSI  1987-01-05   2552.40        0
3      香港恒生   ^HSI  1987-01-06   2583.90        0
4      香港恒生   ^HSI  1987-01-07   2607.10        0
...     ...    ...         ...       ...      ...
16048    台灣  ^TWII  2024-11-04  22965.39  2715900
16049    台灣  ^TWII  2024-11-05  23106.79  2872200
16050    台灣  ^TWII  2024-11-06  23217.38  3163400
16051    台灣  ^TWII  2024-11-07  23408.82  3751300
16052    台灣  ^TWII  2024-11-08  23553.89  3635500

[16053 rows x 5 columns]